<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="utf-8" />
  <title>playlist</title>
  <link rel="stylesheet" type="text/css" href="css/app.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script src="js/soundcloud-player-api.js"></script>
  <script src="js/app.js"></script>
</head>
<body>
  <div id="mainScope" ng-controller="mainCtrl">
    <iframe width="100%" height="166" scrolling="no" frameborder="no"></iframe>
    <form novalidate name="keywordForm" ng-submit="searchPlaylists()">
      <input type="text" name="keyword" placeholder="keyword" ng-model="keyword" />
      <input type="submit" value="search" />
    </form>
    <ul ng-cloak>
      <li id="playlist{{$index}}" ng-repeat="playlist in playlists" ng-controller="playlistCtrl">
        <img src="{{playlist.artwork_url}}" />
        {{playlist.title}} made by {{playlist.user.username}}
        <button ng-click="getTracks()">load</button>
      </li>
    </ul>
    <ul ng-cloak>
      <li ng-repeat="track in tracks" ng-controller="trackCtrl">
        <img src="{{track.artwork_url}}" />
        {{track.title}} - {{track.uri}}
        <button ng-click="setTrack()">play</button>
      </li>
    </ul>
  </div>
  <script>
   var clientId   = '736b11a3d717676cfc27bf601e165617';
   var defaultSrc = 'https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/91249856';

   SC.initialize({
       client_id: clientId,
   });

   var iframeElement = document.querySelector('iframe');
   iframeElement.src = defaultSrc;

   var widget = SC.Widget(iframeElement);
   widget.bind(SC.Widget.Events.FINISH, function() {
     widget.play();
   });
  </script>
</body>
</html>
