<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="utf-8" />
  <title>playlist</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="js/controller.js"></script>
</head>
<body>
  <div id="mainScope" ng-controller="mainCtrl">
    <form novalidate name="keywordForm" ng-submit="searchPlaylists()">
      <input type="text" name="keyword" placeholder="keyword" ng-model="keyword" />
      <input type="submit" value="search" />
    </form>
    <ul>
      <li ng-repeat="playlist in playlists" ng-controller="playlistCtrl">
        <img src="{{playlist.artwork_url}}" />
        {{playlist.title}} made by {{playlist.user.username}}
        <form novalidate name="playlistForm" ng-submit="getTracks()">
          <input type="hidden" name="playlistId" value="{{playlist.id}}" ng-model="playlistId" />
          <input type="submit" value="load" />
        </form>
      </li>
    </ul>
    <ul>
      <li ng-repeat="track in tracks">
        <img src="{{track.artwork_url}}" />
        {{track.title}}
      </li>
    </ul>
  </div>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script>
   SC.initialize({
     client_id: '736b11a3d717676cfc27bf601e165617'
   });
  </script>
</body>
