<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <title>repeat-beat β</title>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/app.css" />
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-headphones"></span> repeat-beat β</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div id="main" ng-controller="mainCtrl">
      <div class="row">
        <div class="col-md-12">
          <iframe id="player" width="100%" height="166" scrolling="no" frameborder="no"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form novalidate name="keywordForm" id="keywordForm" class="form-inline" role="form" ng-submit="searchPlaylists()">
            <div class="form-group">
              <label class="sr-only" for="inputKeyword">keyword</label>
              <input type="text" name="keyword" id="inputKeyword" class="form-control" placeholder="keyword" ng-model="keyword" />
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <table class="table" ng-cloak>
            <tr id="playlist_{{$index}}" ng-repeat="playlist in playlists" ng-controller="playlistCtrl">
              <td><img src="{{playlist.artwork_url}}" /></td>
              <td><strong>{{playlist.title}}</strong><br />made by {{playlist.user.username}}</td>
              <td><button class="btn btn-default" ng-click="getTracks()"><span class="glyphicon glyphicon-download"></span></button></td>
            </tr>
          </table>
          <table id="tracks" class="table" ng-cloak ng-controller="tracksCtrl">
            <tr id="track_{{$index}}" ng-repeat="track in tracks" ng-controller="trackCtrl">
              <td><img src="{{track.artwork_url}}" /></td>
              <td>{{track.title}}</td>
              <td><button class="btn btn-default" ng-click="addToMyTrack()"><span class="glyphicon glyphicon-plus"></span></button></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <div id='my_tracks' ng-controller="myTracksCtrl">
            <table ng-cloak class="table">
              <tr>
                <td colspan="3">
                  <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-play"></span></button>
                  <button class="btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-backward"></span></button>
                  <button class="btn btn-default" ng-click="next()"><span class="glyphicon glyphicon-forward"></span></button>
                  <button class="btn btn-default" ng-click="repeatSong()"><span class="glyphicon glyphicon-music"></span> repeat song</span></button>
                  <button class="btn btn-default" ng-click="repeatPlaylist()"><span class="glyphicon glyphicon-list"></span> repeat playlist</button>
                </td>
              </tr>
              <tr>
                <td colspan="3">repeat mode：{{repeatMode}}</td>
              </tr>
              <tr id="my_track_{{$index}}" ng-repeat="myTrack in myTracks" ng-controller="myTrackCtrl">
                <td><img src="{{myTrack.artwork_url}}" /></td>
                <td>{{myTrack.title}}</td>
                <td><button class="btn btn-default" ng-click="remove($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="https://connect.soundcloud.com/sdk.js"></script>
  <script src="assets/js/soundcloud-player-api.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/app.js"></script>
</body>
</html>
