[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    padding: 55px 0 30px;
}

table {
    margin: 0;
}

#keywordForm {
    padding-bottom: 5px;
}

