[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

table {
    margin: 0 !important;
}

#keywordForm {
    margin: 0 0 5px;
}

img.icon-repeat {
    width: 24px;
    height: 24px;
}

.btn-repeat {
    padding: 4px 7px;
}